[
  {
    "Effect": "Allow",
    "Action": ["route53:ListHostedZones", "route53:ListResourceRecordSets"],
    "Resource": ["*"]
  },
  {
    "Effect": "Allow",
    "Action": [
      "autoscaling:DescribeAutoScalingGroups",
      "autoscaling:DescribeAutoScalingInstances",
      "autoscaling:DescribeTags",
      "autoscaling:DescribeLaunchConfigurations",
      "autoscaling:SetDesiredCapacity",
      "autoscaling:TerminateInstanceInAutoScalingGroup"
    ],
    "Resource": "*"
  },
  {
    "Effect": "Allow",
    "Action": ["s3:Get*"],
    "Resource": ["arn:aws:s3:::as.kops.k8.cluster.state/stable-addons/*"]
  },
  {
      "Effect": "Allow",
      "Action": "ec2:DescribeTags",
      "Resource": "*"
  }
]
