{% for namespace, namespace_secrets in combined_secrets.items() %}
{% for sec_name, sec_val in namespace_secrets.items() %}
---
apiVersion: v1
kind: Secret
type: {{ sec_val["type"] }}
metadata:
  name: {{ sec_name }}
  namespace: {{ namespace }}
data:
{% for k, v in sec_val["data"].items() %}
  {{ k }}: {{ v | b64encode }}
{% endfor %}

{% endfor %}
{% endfor %}
